@tailwind base;
@tailwind components;
@tailwind utilities;


.get:hover {
    background-color: black;
    font-weight: bold;
    box-shadow: 0 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.25em);
}
.search{
    background: #121212;
    border-color: #1b1b1b;
}
.highlight{
    font-size: 3.5rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px rgb(219, 186, 1);
}

.bid:hover .place{
    opacity:100;
    transition: 0.8s;
}

.create:hover .create-text{
    color:gold;
}
.create:hover .create-num{
    color:gold;
}

.seller:hover .seller-num{
    color: gold;
}
.seller:hover .seller-name{
    color: gold;
}
.high:hover{
    fill: gold;
}
.foot{
    transition: 0.8s;
}
.foot:hover .foot-symbol{
    fill: gold;
}
.foot:hover .foot-text{
    color: gold;
}



@media (max-width: 430px) {
    .heart{
        margin-left: 8.4rem;
    }
    .pad{
        @apply p-2;
    }
    .pad1{
        @apply p-16;
    }
}


@media (max-width: 420px) {
    .heart{
        margin-left: 8rem;
    }
    .pad{
        @apply p-2;
    }
    .pad1{
        @apply p-16;
    }
}


@media (max-width: 400px) {
    .heart{
        margin-left: 6.4rem;
    }
    .pad{
        @apply p-2;
    }
    .pad1{
        @apply p-12;
    }
}

@media (max-width: 380px) {
    .heart{
        margin-left: 5.6rem;
    }
    .pad{
        @apply p-2;
    }
    .pad1{
        @apply p-16;
    }
}


@media (max-width: 360px) {
    .heart{
        margin-left: 4.4rem;
    }
    .pad{
        @apply p-4;
    }
    .pad1{
        @apply p-6;
    }
}

@media (max-width: 320px) {
    .heart{
        margin-left: 2.0rem;
    }
    .bid{
        flex-direction: column-reverse
    }
    .pad{
        @apply p-2;
    }
    .pad1{
        @apply p-5;
    }
}
